<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Gestion des stagiaires
    </div>
  </div>

  <button class="btn btn-info" routerLink="/creation_stagiaire"> <i class="icon-plus"></i> Créer un nouveau stagiaire</button>
  <br/>
  <br/>
  <div class="card">
    <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form class="form-row">
              <div class="col-md-3">
                <div class="form-group">
                  <label> Recherche 1</label>
                  <input type="text" class="form-control" placeholder="Recherche 1" />
                </div>

              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label> Recherche 2</label>
                  <input type="text" class="form-control" placeholder="Recherche 1" />
                </div>

              </div>
            </form>
          </div>
        </div>
    </div>
    <div class="card-footer">
      <div class="pull-right">
        <button class="btn btn-info">Recherche</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Numéro</th>
            <th>Nom</th>
            <th>Prénom</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
